DATABASE_URL="postgresql://USER:PASS@HOST-pooler.REGION.aws.neon.tech/DB?sslmode=require&channel_binding=require"
DATABASE_URL_UNPOOLED="postgresql://USER:PASS@HOST.REGION.aws.neon.tech/DB?sslmode=require&channel_binding=require"
SESSION_SECRET="generate-a-64-char-hex-string"
